mixin objects(o)
  h1.page-title Карта наших объектов
  section.objects
    .objects-wrap
      #map.objects-map
    .objects-marks
      .objects-type.build Строящиеся объекты
      .objects-type.ready Готовые объекты
    .text-section.clearfix                         
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique recusandae ab officiis quis ut quo soluta quod a quia ipsum sapiente reprehenderit culpa corporis itaque quaerat consequatur vero eligendi voluptatum sint at nostrum modi ipsa illo dolores hic velit rem? Doloremque necessitatibus error harum numquam rerum neque reprehenderit deleniti alias enim obcaecati corporis similique excepturi repudiandae possimus totam. Vel provident magnam tempora nemo inventore ullam dicta nam quaerat laudantium in adipisci expedita nesciunt placeat sapiente deserunt accusantium corporis reprehenderit quo repellendus voluptas veritatis illum voluptatibus maiores illo excepturi itaque explicabo perspiciatis sequi facere. Officiis molestiae ducimus modi ad dolorum iste. 