mixin breadcrumb(o)
	section.breadcrumb
			ol.breadcrumb-list
				li.breadcrumb-item
					a.breadcrumb-link(href='#') Главная
				li.breadcrumb-item
					a.breadcrumb-link(href='#') Наши проекты
				li.breadcrumb-item
					a.breadcrumb-link(href='#') Проекты домов
				li.breadcrumb-item.active 
					a.breadcrumb-link(href='#') Каркасные дома
				li.breadcrumb-item 
					a.breadcrumb-link.active(href='#') Проект Д-4601