mixin scripts(o)
	script(src="js/vendor/jquery-1.10.2.min.js")
	script(src="js/vendor/jquery.liquidcarousel.js")
	script(src="js/vendor/slick.js")
	script(src="js/vendor/nouislider.min.js")
	script(src="js/vendor/jquery.easydropdown.min.js")
	script(src="js/vendor/jquery.fancybox.pack.js")
	script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
	script(src="js/main.js")